<div class="hidden-print footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <a href="/">Home</a>
            <br>
            <a href="/">Find Health Insurance</a>
<!--            <br>
            <a href="/">UPMC/Highmark Network Disruption</a> -->
            <br> 
          </div>
          <div class="col-md-6 col-sm-6">
            <a href="/help">Get Insurance Help</a>
            <br>
            <a href="/help">Report Website/Data Errors</a>
            <br>
            <a href="/help">Contact Us</a> 
            <br>
          </div>
        </div> <!-- ./row -->
      </div>

      <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
        <p class="disclaimer">This is not the official US Government Health Insurance website.  While we make every effort to accurately display all Qualified Health Plans available in our <a href="/help">service area</a>, this website's data may differ from what is offered at HealthCare.gov.  You can visit the official Health Insurance Marketplace at www.healthcare.gov.</p>
      </div>
    </div> <!-- ./row -->

    <div class="row">
      <div class="col-md-12 mumbo">
        <div class="text-center">
          All insurance products offered by a licensed and Affordable-Care-Act-certified agent.  <a href="/licenses">View Licenses</a>.
          <br>
          &copy; 2014 PadPages, LLC
        </div>
      </div>
    </div> <!-- ./row -->

  </div> <!-- ./container -->
</div> <!-- ./footer -->

<script type="text/javascript">
  <%= yield :js %>
</script>
