
<h3>2015 Qualified Health Plans Missing on HealthCare.gov</h3>

<p>This is a list of health plans available in Southwestern PA which were missing from HealthCare.gov at the start of 2015 Open Enrollment on November 15, 2014.</p>

<table class="table">
  <thead>
    <th>Plan</th>
    <th>Issuer</th>
  </thead>
  <tbody>
    <tr>
      <td><a href="/aca_plans?county=42003#plan:10">Shared Cost Blue PPO 2650, a Community Blue Flex Plan (Silver)</a></td>
      <td>Highmark</td>
    </tr>
    <tr>
      <td><A href="/aca_plans?county=42003#plan:">Balance Blue PPO 1000, a Community Blue Flex Plan (Silver)</a></td>
      <td>Highmark</td>
    </tr>
  </tbody>
</table>

<p>No reason was given for why the errors occurred.  Check back for updates.</p>





