<div class="display-block" style="margin: 20px 0 40px; padding:20px">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <h2>We Care About Finding You the Right Plan</h2>
        <h3><span class="glyphicon glyphicon-phone"></span> <span style="background: #ffe">Call <%= number_to_phone SiteSetting.customer_service_phone, area_code: true %> for Help</span></h3>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offest-8 col-md-8 col-md-offset-2">
    <strong>About Us</strong>

    <p>We are local health insurance experts who understand the unique challenges of the current Healthcare landscape in Western Pennsylvania.</p>

    <p>Our mission is to make you health plan happy, every time.</p>


    <strong>Current Service Area</strong>
    <p><%= render 'shared/service_area_text' %></p>

    <strong>Report Data or Website Errors</strong>
    <div class="">
      Email <a href="mailto:<%= SiteSetting.customer_service_email %>"><%= SiteSetting.customer_service_email %></a>
    </div>


  </div>
</div>
