<h4>Need Help?</h4>
<div class="row">
  <div class="col-sm-3 col-md-3">
    <strong>Insurance Questions</strong>
    <div class="">
      <span class="glyphicon glyphicon-phone"></span> Call <%= number_to_phone SiteSetting.customer_service_phone, area_code: true %> for Answers
    </div>

    <br>

    <strong>Data or Website Errors</strong>
    <div class="">
      Email <a href="mailto:<%= SiteSetting.customer_service_email %>"><%= SiteSetting.customer_service_email %></a>
    </div>

    <br>
  </div>
  <div class="col-sm-offset-1 col-md-offset-1 col-sm-7 col-md-7">
    <strong>About Us</strong>

    <p>We are local health insurance experts who understand the unique challenges of the current Healthcare landscape in Western Pennsylvania.  Our mission is to educate consumers with relevant and accurate accurate information.</p>

    <p>We live and work in and around Western Pennsylvania.  We use the same doctors and hospitals as you.  We face the same important decisions with our health insurance as you.  And we care about helping you find the best plan for your unique situation.</p>



    <strong>Current Service Area</strong>
    <p><%= render 'shared/service_area_text' %></p>
  </div>
</div>
