<h4>Insurance Licenses</h4>
<div class="row">
  <div class="col-sm-8 col-md-8">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>State</th>
            <th>License #</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Maryland</td>
            <td>002106207</td>
          </tr>
          <tr>
            <td>Ohio</td>
            <td>1000696</td>
          </tr>
          <tr>
            <td>Pennsylvania</td>
            <td>377902</td>
          </tr>
          <tr>
            <td>West Virginia</td>
            <td>0004070592</td>
          </td>
        </tbody>      
      </table>

      <p>The above licenses are held by Chad Mikolajcik.  Contact him at <a href="mailto:<%= SiteSetting.customer_service_email %>"><%= SiteSetting.customer_service_email %></a>.</p>

    </div>
  </div>
</div>
