$brand-blue: #114566;
$brand-blue-darker: #04324f;
$brand-blue-darkest: #022034;
$brand-blue-lighter: #20587d;
$brand-blue-lightest: #3a6c8d;

$brand-yellow: #A07B12;
$brand-yellow-darker: #7C5B00;
$brand-yellow-darkest: #513C00;
$brand-yellow-lightest: #DCB852;
$brand-yellow-lighter: #C39B29;

@import "bootstrap-sprockets";
//$link-color: #20587d;
@import "bootstrap";

/* mixins */
@mixin btn-round-none {
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}
.btn, .btn-lg, .btn-sm, .btn-xs {
  @include btn-round-none
}
.btn-primary {
  @include button-variant(#fff, #20587d, #022034);
}

.btn-lg-when-xs {
  @extend .btn-lg;
}

/*
 * Base structure
 */

body, input, select, option, label {
  color: $brand-blue-darker;
}

/*
 * Global add-ons
 */
.visible-xs-inline {
  display: none; 
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  /*border: 0; */
}
.navbar-default {
  margin-bottom: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;

  a {
    color: $brand-blue;
  }
  .navbar-text {
    color: $brand-blue-darker;
  }
}

.box-border {
  border: 1px solid #eee;
}
.box-shadow {
  box-shadow: 1px 1px 2px #ccc;
}

body.finder {
}

/* aca plans */
.aca-plan {
  padding: 20px;
  margin-bottom: 16px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 2px #ccc;

  h3 {
    margin: 0 0 8px 0;
    font-weight: normal;
  }

  .issuer-name {
    font-size: 16px;
  }

  .aca-pricing-summary {
    text-align: center;
    font-size: 22px;
    color: $brand-blue;  
    line-height: 1;
    margin-bottom: 8px;

    .net-premium-text, .premium-frequency-text {
      display: block;
    }
  }
}

.promo {
  @extend .text-center;
  padding: 20px 0;

  h3 {
    font-size: 40px;
    padding: 0;
    color: #513C00;
    margin-bottom: 80px;
  }

  form {
    label {
      color: $brand-blue;
      font-size: 22px; 
    }
    select {
      height: 40px;
      font-size: 22px;
    }
  }
}

#home-form {
  margin: 0 auto;
}

.net-premium-text {
  font-weight: bold;
  font-size: 22px;
}

.premium-frequency-text {
  font-size: 14px;
}

.ui-btn {
  .btn-default {
    @extend .btn-block;
    border-color: #eee;
    color: #777;
  }
}
.ui-btn:hover {
  .btn-default {
    background-color: #e8e8e8; //$link-color;
  }
}

.ui-btn.active {
  .btn-default {
    background-color: $link-color;
    color: #eee;
  }
}

.btn {
  .glyphicon {
    margin-right: 8px;
  }
}

.label-lt {
  font-weight: normal;
}

.metal-level {
  //background-color: $brand-info;
  //border: 1px solid darken($brand-info, 10%);
  color: #414833;
  font-weight: bold;
}
h3 {
  .metal-level {
    font-size: 14px;
    vertical-align: top;
    line-height: 28px;
  }
}

.metal-level.Bronze {
  color: #A67D3D;
  //border-color: darken(#A67D3D, 15%);
}
.metal-level.Gold {
  color: darken(#FFD700, 8%);
  //border-color: darken(#FFD700, 20%);
  //text-shadow: 1px 1px #aaa;
}
.metal-level.Silver {
  color: darken(#C0C0C0, 13%);
  //border-color: darken(#c0c0c0, 20%);
  //text-shadow: 1px 0px #222;
}
.metal-level.Platinum {
  background-color: darken(#E5E4E2, 5%);
  color: #fff;
  padding: 0 2px;
  //border-color: darken(#E5E4E2, 20%);
  text-shadow: 1px 1px #999;
}

.metal-level-filters {
  label {
    display:block;
    width: 100%;
    padding: 2px 0;
    @extend .label-lt;
  }
}

.benefit-key {
  margin-right: 10px; 
  color: #777;
  width: 150px;
  float:left;
  display: block;
}
.benefit-value {
  float: left;
}

.sob {

  .sob-heading {
    .sob-issuer-info {
    } 
    .plan-marketing-name {
      color: $brand-blue-lightest;
    }

    .issuer-name {
      color: #333;
    }
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin-bottom: 20px;
  }

  .sob-pricing {
    padding: 20px 0 0;
    .pricing-notice {
      padding: 8px;
      background: #ffd; 
      line-height: 1;
      border-radius: 4px;
      -webkit-border-radius: 4px;
    } 

    .add-applicants-notice {
    }

    .premium-value {
      color: $brand-blue;
      font-size: 22px;
      font-weight: bold;
    }
  }

  .sob-body {
    padding: 0 20px 10px;
  }

  .tobacco-notice {
    color: #777;
  }

  .issuer-name {
    font-size: 18px;
    margin-right: 10px;
  }

  table {
    th {
      color: $brand-blue;
    }

    td:nth-child(1) {
      width: 33%;
      color: #777;
    }    
    
    tfoot {
      font-size: 12px;
      color: #777;
    }
  }
}

.edit-applicants {
  color: $brand-blue;
}

.list-controls {
  @extend .clearfix;

  padding: 10px 0;
  .btn {
    margin-right: 5px;
  }
  .btn, .dropdown {
    float: left; 
  }
  .dropdown {
    .btn {
      float: none;
    }
    .btn.edit-application {
    }
  }
}

#list-controls-view, #compare-controls-view {
  @extend .list-controls;
}

.plan-comparison-controls {
  padding: 20px 10px;

  .btn { 
    margin: 0 4px 0; 
  }

  .badge {
    font-size: 18px;
    padding: 5px 9px;
  }

  .description {
    margin: 0;
    padding: 4px 16px;
  } 
}

.static-help {
  h2 {

  }
  h3 {
    color: $brand-blue-lightest;
    font-size: 26px;
    padding: 8px;
  }
  p {
    font-size: 16px;
  }
}

.plan-comparison {
  .table-bordered {
    border: 0;
  }

  .affix-plan-comparison {
    z-index: 5000;

    thead > tr > th {
      border-bottom: 0;
      font-size: 110%;
      background: #f8f8f8;
      //border-right: 2px solid #fff;
      //border-left: 2px solid #fff;
      border-top: 0;
      border-color: #eee; 
    }
    thead > tr > th:first-child {
      color: $brand-blue-lightest;
      border-left: 0;
    }
    thead > tr > th:first-child, 
    thead > tr > th:last-child {
      border-right: 0;
    }
  }

  .table-bordered > thead > tr > th {
    border-top: 0;
    border-bottom-width: 1px;
  }

  .table-bordered > tbody > tr > td {
    border-color: #eee;
    color: #555; 
    width: 29%;
  }

  .table-bordered > tbody > tr:first-child > td {
    color: $brand-blue;
  }

  .table > tbody > tr > td:first-child {
    background: #fff;
    width: auto;
    font-weight:bold;
    color: #999;
    font-size: 12px;
    border-left: 0;
  }


  th {
    text-align: center;
  }

  td {
    text-align: center;
  }
   td:nth-child(0) {
    text-align: left;
  }
}

.affix-visible {
  display: none;
}
.affix {
  .affix-visible {
    display:block;
  }
}

.affix-logo {
  background: asset-url('logo-141x36.png') no-repeat;
  display: none;
  height: 36px;
  width: 141px;
  margin-top: 9px;
}
.affix {
  .affix-logo {
    display: block;
  }
}

.affix-list-controls {
  @extend .clearfix;
  z-index: 5000;
  background: #fff;
}

.affix-list-controls.affix-top {
  position: static;
  width: 100%; 
}

.affix-list-controls.affix {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 0 15px;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f8f8f8;
}

.affix-plan-comparison.affix {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 15px;
  width: 100%;

  border-bottom: 1px solid #e7e7e7;
  background-color: #f8f8f8;

  thead > tr > th {
    border-left: 0;
    border-right: 0;
  }
}


.footer {
  margin-top: 40px;
  background-color: #f8f8f8;
  border-color: #f7f7f7;
  padding: 40px 40px 20px;
  .mumbo {
    color: #999;
    font-size: 10px;
    padding: 20px 0 0;
  }
  .disclaimer {
    font-size: 11px;
    color: #777;
  }
}

@media(max-width: 767px) {
  .list-controls {
    .btn {
      margin-bottom: 8px; 
    }
  }

 .navbar-brand {
   padding: 10px;
  } 
  .show-xs {
    display: inline-block;
  }

  .hide-xs {
    display: none;
  }

  .footer {
    a {
      color: $brand-blue-lightest;
    }
    padding: 20px 0;
    .disclaimer {
      padding: 20px 0 0;
    }
  }

  .aca-plan {
    .aca-pricing-summary {
      background: #eee;
    }
  }

  .affix-list-controls.affix {
    position: fixed;
    top: 0;
    left: 0px;
    padding: 0 15px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }

  .affix-plan-comparison.affix {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 15px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }

  .affix {
    .affix-logo {
      display: none;
    }
  }

 .aca-pricing-summary {
    padding: 10px 0;
  }

  .block-xs {
    width: 100%;
  }

  .ui-btn {
    margin-top: 8px;
  }

  .visible-xs-inline {
    display: inline-block; 
  }
}


