<div class="list-controls">
  <button type="button" class="btn btn-default application-complete"><Span class="glyphicon glyphicon-chevron-left"></span> Back </button>
</div>

<div class="box-shadow box-border" style="padding: 20px">

  <h3>Hello Neighbor!</h3>
  <p>List everyone in your household applying for coverage.</p>

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <table class="table" style="margin-bottom: 0">
        <thead class="hide">
          <tr>
            <th>&nbsp;</th>
            <th>Age</th>
            <th colspan="2">Tobacco User?</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-5">
      <div class="alert alert-warning medicare-notice hide">
        <strong>Hmmmm...what about Medicare?</strong>
        <p>Anyone 65 or older would be better served by a supplemental Medicare policy.  If you need help, give us a call at 1-800-800-1999 and we'll point you in the right direction.</p> 
      </div>
      
      <div class="alert alert-info max-adults-notice hide">
        <strong>Heads Up!</strong>
        <p>We noticed more than 2 applicants over age 26.</p>
        <p>Under the Affordable Care Act, most dependents can be covered on their parents' policy until age 26, at which point they must obtain their own coverage.</p>
      </div>

      <div class="alert alert-info chip-notice hide">
        <strong>Get Hip to CHIP</strong>
        <p>CHIP -- the children's health insurance program -- provides qualified coverage for children under 19.</p>
        <p>For a number of reasons, including benefit levels and <a href="http://www.chipcoverspakids.com/assets/media/pdf/chip_insurance_company_rates.pdf" target="_blank">pricing</a>, CHIP coverage in <a target="_blank" href="http://www.chipcoverspakids.com/find-chip-coverage/county-coverage/">your county</a> may be a better option than an individual policy.</p>
      </div>
    </div>
  </div>

  <div class="list-controls ">
    <button type="button" class="btn btn-warning block-xs" id="add_applicant"><span class="glyphicon glyphicon-plus"></span> Add Applicant</button>
    <button type="button" class="btn btn-primary block-xs application-complete" id="application_complete">Show Prices!</a>
  </div>
</div>
