
<div class="affix-list-controls">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <a href="/" class="affix-logo"></a>
    </div>
    <div class="col-md-10 col-sm-10">
      <div class="clearfix">
        <div class="pull-left">
          <div id="list-controls-view" class="clearfix"></div>
        </div>

        <div class="pull-right">
          <div class="list-controls">
            <button type="button" id="compare" class="hide btn btn-primary"> <span class="visible-xs-inline"><span class="glyphicon glyphicon-tasks"></span></span> <span class="hidden-xs">Plans to Compare</span> <span class="badge"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-2 col-md-2 hidden-xs">
    <div id="metal-levels-view"></div>
  </div>
  <div class="col-sm-10 col-md-10 col-xs-12"> 
    <div id="plans-view"></div>
  </div>
</div>



